# {{ ansible_managed }}
# wg 内の名前解決。生成元: inventory(wg_address)と network.yml の wg_extra_peers

# wg0 からのみ応答(eth0 には出さない)。bind-dynamic で wg0 が後から現れても追従する
bind-dynamic
interface={{ wg_interface }}
except-interface=lo
except-interface={{ gateway_wan_interface }}
no-dhcp-interface={{ wg_interface }}

# ゾーン {{ wg_dns_domain }} はここで完結(上流へ転送しない)
domain={{ wg_dns_domain }}
local=/{{ wg_dns_domain }}/
no-hosts

# それ以外は上流へ
no-resolv
{% for s in wg_dns_upstreams %}
server={{ s }}
{% endfor %}
cache-size=1000

# --- ホスト ---
host-record={{ wg_dns_gateway_alias }}.{{ wg_dns_domain }},linode-gw.{{ wg_dns_domain }},{{ wg_hub_address }}
{% for h in groups['k8s_cluster'] | sort %}
host-record={{ h }}.{{ wg_dns_domain }},{{ hostvars[h].wg_address }}
{% endfor %}
{% for peer in wg_extra_peers %}
host-record={{ peer.name }}.{{ wg_dns_domain }},{{ peer.allowed_ips.split('/')[0] }}
{% endfor %}
