# ksops(ArgoCD repo-server)が使う cluster 用 age 鍵。
# 実値を入れたら必ず `sops -e -i` で暗号化すること(README.md 参照)
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: argocd
stringData:
  key.txt: |
    # created: 2026-xx-xx
    # public key: age1REPLACE
    AGE-SECRET-KEY-1REPLACE_WITH_CLUSTER_PRIVATE_KEY
